.MyCloud {
    background-color: black;
    text-align: left;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.projects {
    background-color: purple;
    text-align: center;
    text-decoration: white;
    font-style: italic;

    color: white
}

.contact {
    background-color: lightblue;
    text-align: end;
}