.MyCloud { background-color: black; text-align: left;text-decoration: white; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}
.projects { background-color: purple; text-align: center; text-decoration: white;font-style: italic;
}
.contact { background-color:lightblue; text-align: end;
}
