.MyCloud {
    background-color: black;
    text-align: left;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

span {
    color: blue
}

.projects {
    background-color: purple;
    text-align: center;
    font-style: italic;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    color: white
}

.contact {
    background-color: rgb(36, 140, 171);
    text-align: end;
    text-decoration: underline;
}

body {
    margin: 0;
}